{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Редактирование профиля</h1>

    <form method="post">
        <div>
            <label>
                Реальное имя:
                <input type="text" name="full_name" value="{{ user['full_name'] or '' }}">
            </label>
        </div>

        <div>
            <label>
                Новый пароль:
                <input type="password" name="new_password">
            </label>
        </div>

        <div>
            <label>
                Подтверждение пароля:
                <input type="password" name="confirm_password">
            </label>
        </div>

        {% if error %}
            <div>{{ error }}</div>
        {% endif %}

        <div>
            <button type="submit">Сохранить изменения</button>
            <a href="/lab5/list">Отмена</a>
        </div>
    </form>
{% endblock %}