{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <div style="display: flex; justify-content: center; align-items: center;">
        <div style="border-radius: 15px; padding: 30px; background: white; width: 40%;">
        <h1 style="text-align: center;">Список пользователей</h1>
            <table style="width: 100%; border-collapse: collapse; border: 1px solid #e0e0e0;">
                <thead>
                    <tr style="background-color: #b5ebeb;">
                        <th style="padding: 12px; text-align: left; border-bottom: 2px solid #ccc;">Логин</th>
                        <th style="padding: 12px; text-align: left; border-bottom: 2px solid #ccc;">Имя</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr style="border-bottom: 1px solid #e0e0e0;">
                            <td style="padding: 12px;">{{ user['login'] }}</td>
                            <td style="padding: 12px;">{{ user['full_name'] or 'Не указано' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}