<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хобенков Егор. Лабораторная работа 2</title>
</head>
<body>
    <header>
        Web-программирование, часть 2. Лабораторная работа 2
    </header>

    <main>
        5 + 2 = {{5 + 2}} <br>
        11 &times; 28 = {{11 * 28}} <br>
        3258 - 759 = {{3258 - 759}} <br>
        8452 &divide; 793 = {{8452/793}} <br>
        45<sup>8</sup> = {{45**8}} <br>
    </main>

    <footer>
        &copy; {{ name }}, {{group}}, {{course_num}} курс, 2025
    </footer>
</body>
</html>