{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %} Лабораторная работа 2 {% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab2/a">а без слеша</a></li>
        <li><a href="/lab2/a/">а со слешем</a></li>
        <li><a href="/lab2/flowers/0">Роза (не работает из-за доп. задания)</a></li>
        <li><a href="/lab2/flowers/1">Тюльпан (не работает из-за доп. задания)</a></li>
        <li><a href="/lab2/flowers/2">Незабудка (не работает из-за доп. задания)</a></li>
        <li><a href="/lab2/flowers/3">Ромашка (не работает из-за доп. задания)</a></li>
        <li><a href="/lab2/add_flower/">Добавить цветок (ошибка 400) (не работает из-за доп. задания)</a></li>
        <li><a href="/lab2/all_flowers/">Все цветы (не работает из-за доп. задания)</a></li>
        <li><a href="/lab2/clear_flowers/">Очистить цветы (не работает из-за доп. задания)</a></li>
        <li><a href="/lab2/example">Циклы</a></li>
        <li><a href="/lab2/filters">Фильтры</a></li>
        <li><a href="/lab2/calc/">Калькулятор</a></li>
        <li><a href="/lab2/books/">Книги</a></li>
        <li><a href="/lab2/cars/">Автомобили</a></li>
        <li><a href="/lab2/flowers/">Цветы</a></li>
        <li><a href="/lab2/del_flowers/">Удалить цветок по индексу</a></li>
    </ol>
{% endblock %}